<div id="filters_container" class="border-bottom">
  <div class="scroll-container">
    <div class="scroll-icon-left">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="filters">
      <a href="/listings" class="filter">
        <div class="filterDiv Icons">
          <div>
            <i><img src="/images/filters/all.png" style="height: 1.5rem" /></i>
          </div>
          <p>All</p>
        </div>
      </a>
      <a href="/listings/category/Trending" class="filter">
        <div class="filterDiv Trending">
          <div>
            <i
              ><img src="/images/filters/trending.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Trending</p>
        </div>
      </a>
      <a href="/listings/category/Pools" class="filter">
        <div class="filterDiv Pools">
          <div>
            <i
              ><img src="/images/filters/pools.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Pools</p>
        </div>
      </a>
      <a href="/listings/category/Trecking" class="filter">
        <div class="filterDiv Trecking">
          <div><i class="fa-solid fa-person-hiking"></i></div>
          <p>Trecking</p>
        </div>
      </a>
      <a href="/listings/category/Amazing-Views" class="filter">
        <div class="filterDiv Trecking">
          <div>
            <i
              ><img
                src="/images/filters/amazing-view.jpg"
                style="height: 1.5rem"
            /></i>
          </div>
          <p>Amazing Views</p>
        </div>
      </a>
      <a href="/listings/category/Beaches" class="filter">
        <div class="filterDiv Beaches">
          <div>
            <i
              ><img src="/images/filters/beachFront.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Beaches</p>
        </div>
      </a>
      <a href="/listings/category/Rooms" class="filter">
        <div class="filterDiv Rooms">
          <div>
            <i><img src="/images/filters/room.jpg" style="height: 1.5rem" /></i>
          </div>
          <p>Rooms</p>
        </div>
      </a>
      <a href="/listings/category/Castles" class="filter">
        <div class="filterDiv Castles">
          <div>
            <i
              ><img src="/images/filters/castle.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Castles</p>
        </div>
      </a>
      <a href="/listings/category/Boats" class="filter">
        <div class="filterDiv Boats">
          <div>
            <i><img src="/images/filters/boat.jpg" style="height: 1.5rem" /></i>
          </div>
          <p>Boats</p>
        </div>
      </a>
      <a href="/listings/category/Arctic" class="filter">
        <div class="filterDiv Arctic">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Arctic</p>
        </div>
      </a>
      <a href="/listings/category/Iconic-Cities" class="filter">
        <div class="filterDiv Iconic-Cities">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </div>
      </a>
      <a href="/listings/category/Mountains" class="filter">
        <div class="filterDiv Mountains">
          <div>
            <i
              ><img src="/images/filters/mountain.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Mountains</p>
        </div>
      </a>
      <a href="/listings/category/Camping" class="filter">
        <div class="filterDiv Camping">
          <div>
            <i
              ><img src="/images/filters/camping.jpg" style="height: 1.5rem"
            /></i>
          </div>
          <p>Camping</p>
        </div>
      </a>
      <a href="/listings/category/Snowboarding" class="filter">
        <div class="filterDiv Snowboarding">
          <div><i class="fa-solid fa-person-snowboarding"></i></div>
          <p>Snowboarding</p>
        </div>
      </a>
    </div>
    <div class="scroll-icon-right active">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch tax-container">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Default total after taxes</label
      >
    </div>
  </div>
</div>
