<footer class="border-top">
  <div class="footer_links border-bottom">
    <div class="support">
      <ul>
        <li>
          <p>Support</p>
        </li>
        <li><a href="">Help Centre</a></li>
        <li><a href="">Get help with a safety issue</a></li>
        <li><a href="">AirCover</a></li>
        <li><a href="">Anti-discrimination</a></li>
        <li><a href="">Disability support</a></li>
        <li><a href="">Cancellation options</a></li>
      </ul>
    </div>
    <div class="hosting">
      <ul>
        <li>
          <p>Hosting</p>
        </li>
        <li><a href="">TraveLust your home</a></li>
        <li><a href="">AirCover for Hosts</a></li>
        <li><a href="">Hosting resources</a></li>
        <li><a href="">Community forum</a></li>
        <li><a href="">Hosting responsibly</a></li>
        <li><a href="">Join a free Hosting class</a></li>
      </ul>
    </div>
    <div class="traveLust">
      <ul>
        <li>
          <p>TraveLust</p>
        </li>
        <li><a href="">Newsroom</a></li>
        <li><a href="">New features</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Investors</a></li>
        <li><a href="">TraveLust.org emergency stays</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-info">
    <div class="about">
      <ul>
        <li><p>© 2024 TraveLust, Inc.</p></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="">Company details</a></li>
      </ul>
    </div>
    <div class="social">
      <div class="lang_currency">
        <div>
          <div>
            <img src="/images/globe.png" height="15px" />
            <a href="">English (IN)</a>
          </div>
          <div>
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <a href="">INR</a>
          </div>
        </div>
      </div>
      <div class="social_icons">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
