<% layout("/layouts/boilerplate.ejs") %>

<style>
  .heading {
    padding-top: 2.1rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .heading + div {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading + div p {
    text-align: center;
  }
  .heading + div i {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  .heading + div i + p {
    margin-bottom: 0;
  }
  @media (max-width: 575.9px) {
    .navbar_div {
      display: none;
    }
    .footer_div {
      display: none;
    }
    .scroll_up {
      bottom: 0;
      display: flex;
      transition: none;
    }
    .listing_div {
      height: 100vh;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
</style>

<div class="messages_container">
  <h1 class="heading">Messages</h1>
  <div>
    <i class="fa-regular fa-message"></i>
    <p><b>You don’t have any messages</b></p>
    <p>When you receive a new message, it will appear here.</p>
  </div>
</div>
