body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  height: 100vh;
  width: calc(100vw - 0.8rem);
  display: flex;
  justify-content: center;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 0.8rem; /* Width of the scrollbar */
}

/* Track of the scrollbar (background area) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle of the scrollbar (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgb(209, 80, 80); /* Color of the handle */
  border-radius: 10px; /* Rounded corners for the handle */
  border: 2px solid #f1f1f1; /* Padding around the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 45, 45); /* Darker color on hover */
}

main {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  max-width: 2360px;
}

/* Navbar */
.navbar_div {
  width: 100%;
  max-width: 2360px;
  position: fixed;
  z-index: 3;
}

.navbar {
  background-color: white !important;
  position: absolute;
  z-index: 9;
}

.navbar_container {
  height: 3.6rem !important;
  width: 100%;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.icon_div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  height: 1.5rem;
  width: 3rem;
  color: black;
  text-align: center;
  display: none;
}

.back a {
  text-decoration: none;
  color: black;
}

@media (max-width: 575.9px) {
  .back {
    display: inline-block;
  }
}

.logo {
  color: rgb(206, 45, 45);
  font-size: 1.8rem;
}

.search {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search form {
  height: 80%;
  width: 60%;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 2rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0.5px 4px 0.5px rgba(122, 122, 122, 0.3);
}

.search form input {
  height: 100%;
  border: none;
  font-size: small;
  background-color: transparent;
}

.search form input:focus {
  box-shadow: none;
}

.search form button {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form button i {
  font-size: small;
  color: white;
}

@media (max-width: 575.9px) {
  .icon_div {
    display: none;
  }
  .search {
    width: calc(100% - 7rem);
  }
  .search form {
    width: 96%;
  }
}

.explore_outer {
  text-decoration: none;
  color: rgb(206, 45, 45);
  font-size: large;
  font-weight: 600;
}

@media (max-width: 768px) {
  .explore_outer {
    display: none;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

#navbarNavAltMarkup {
  flex-grow: 0;
}

.navbar-toggler {
  height: 70%;
  width: 4.8rem;
  padding: 0.5rem !important;
  border-radius: 2.5rem !important;
}

.navbar-toggler:hover {
  box-shadow: 0px 2px 4px 1px rgba(122, 122, 122, 0.3);
}

#user {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-bar {
  font-size: 0.85rem;
  margin-left: 0.3rem;
}

.user-user {
  height: 1.8rem;
  width: 1.8rem;
  background-color: rgb(116, 116, 116);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.user-user-logedin {
  height: 1.8rem;
  width: 1.8rem;
  font-size: small;
  color: white;
  background-color: #282525;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black !important;
}

.add-home-outer {
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.7rem;
  margin-right: 1rem;
}

.add-home-outer:hover {
  background-color: rgba(237, 217, 197, 0.3);
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  margin-left: calc(100% - 15rem);
  padding: 1rem 0 1rem 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 4px rgba(222, 222, 222, 0.7);
  background-color: rgba(255, 255, 255, 1);
}

.navbar-nav {
  width: 100%;
  margin-right: none !important;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  line-height: 2;
  height: 3rem;
  width: 100% !important;
  padding: 8px 0px 8px 10px !important;
}

.nav-link:hover {
  background-color: rgba(237, 217, 197, 0.3) !important;
}

.add-home-inner {
  display: none !important;
}

@media (max-width: 768px) {
  .add-home-outer {
    display: none;
  }
  .add-home-inner {
    display: inline-block !important;
  }
}

/* Filters */
#filters_container {
  min-height: 4.5rem;
  width: calc(100% - 4rem);
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 4.5rem;
  margin-top: 1px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.scroll-container {
  height: 4.5rem;
  width: calc(100% - 15rem);
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.scroll-container a {
  height: 100% !important;
  text-decoration: none;
  color: black;
  opacity: 0.75;
}

.filters {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filterDiv {
  height: 100%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  user-select: none;
  white-space: nowrap;
}

.filterDiv:hover {
  opacity: 1;
  border-bottom: 1.5px solid black;
}

.filterDiv.active {
  opacity: 1;
  border-bottom: 1.5px solid black;
}

.filterDiv p {
  font-size: 0.8rem;
  margin: 0;
}

.scroll-icon-left,
.scroll-icon-right {
  height: 100%;
  width: 5rem;
  display: none;
  align-items: center;
  position: absolute;
}

.scroll-icon-left.active,
.scroll-icon-right.active {
  display: flex;
}

.scroll-icon-left {
  z-index: 1;
  justify-content: flex-start;
  background: linear-gradient(to right, #fff 1%, transparent) !important;
}

.scroll-icon-right {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(to left, #fff 1%, transparent);
}

.scroll-icon-left i {
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border: 1px solid rgba(222, 222, 222, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-icon-right i {
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border: 1px solid rgba(222, 222, 222, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tax_toggle_bottomOne_container {
  display: none;
}

.tax_toggle_bottomOne {
  display: none;
}

.tax-info {
  display: none;
}

.tax-container {
  height: 2.5rem;
  min-width: 13rem;
  border: 1.4px solid rgba(100, 100, 100, 0.2);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 575.9px) {
  .scroll-icon-left,
  .scroll-icon-right {
    display: none !important;
  }

  .tax-container {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .scroll-container {
    width: 100%;
  }

  .search {
    flex-grow: 1;
  }

  .search form {
    width: 100%;
  }
}

.form-check-label {
  font-size: small;
  font-weight: 600;
  opacity: 0.8;
}

#flexSwitchCheckDefault,
#flexSwitchCheckDefault_2 {
  background-color: rgb(205, 205, 205);
  border: none;
  box-shadow: none;
}

#flexSwitchCheckDefault:checked,
#flexSwitchCheckDefault_2:checked {
  background-color: rgb(222, 103, 103);
  box-shadow: none;
  border: none;
}

#flexSwitchCheckDefault:focus,
#flexSwitchCheckDefault_2:focus {
  border: none;
  outline: none;
}

/* Scroll_up div */
.scroll_up {
  height: 3.7rem;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: -3.7rem;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: bottom 0.4s ease-in 0s;
}

.scroll_up.show {
  bottom: 0;
}

.bottom_nav_icon {
  width: 6rem;
  display: flex;
  text-decoration: none;
  color: rgba(100, 100, 100, 0.85);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_nav_icon a {
  text-decoration: none;
  color: rgba(100, 100, 100, 0.85);
}

.bottom_nav_icon:hover a {
  color: black;
  cursor: pointer;
}

.bottom_nav_icon.active {
  color: rgb(206, 45, 45);
}

.bottom_nav_icon p {
  font-size: x-small;
  margin: 0;
}

.bottom_nav_icon i {
  font-size: large;
}

@media (max-width: 575.9px) {
  .scroll_up {
    display: flex;
  }
}

/* Footer */
.footer_div {
  width: calc(100vw - 0.8rem);
  max-width: 2360px;
}

footer {
  background-color: rgb(247, 247, 247);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer_links {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.support,
.hosting,
.traveLust {
  height: max-content;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 930px) {
  .footer_links {
    flex-direction: column;
  }

  footer {
    padding-left: 0rem !important;
  }

  .support,
  .hosting,
  .traveLust {
    border-bottom: 1px solid rgba(222, 222, 222, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.support ul,
.hosting ul,
.traveLust ul {
  list-style-type: none;
}

.support ul li,
.hosting ul li,
.traveLust ul li {
  margin-bottom: 0.5rem;
}

.support ul li p,
.hosting ul li p,
.traveLust ul li p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.support ul li a,
.hosting ul li a,
.traveLust ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-info {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 860px) {
  .footer-info {
    height: 6rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 575.9px) {
  .footer-info {
    height: auto;
    align-items: start;
  }
  .social {
    margin-left: 2rem;
  }
  .lang_currency {
    margin-bottom: 1rem;
  }
  .social_icons {
    display: none;
  }
}

.about {
  height: min-content;
}

.about ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.about ul li p {
  margin-bottom: 0;
}

.about ul li {
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 1rem;
}

.about ul li a:hover {
  text-decoration: underline;
}

.about ul li a {
  text-decoration: none;
  color: black;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.lang_currency {
  display: flex;
  align-items: center;
}

.lang_currency div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.lang_currency div img {
  margin-right: 0.5rem;
}

.lang_currency div i {
  margin-right: 0.5rem;
}

.lang_currency div a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0;
}

.lang_currency div a:hover {
  text-decoration: underline;
}

.social_icons a {
  text-decoration: none;
  color: black;
}

.social_icons i {
  font-size: 1.3rem;
  margin-right: 1rem;
}

/* cards */

.listing_div {
  width: 100%;
  min-height: 100vh;
  max-width: 2360px;
  margin-top: 10rem;
  margin-bottom: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.listing-card {
  width: 100% !important;
  border: none !important;
  border-radius: 1rem !important;
  margin-bottom: 2rem !important;
}

.card_hover:hover {
  opacity: 0.8;
}

.card-img-top {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  width: 100% !important;
}

.listing-link {
  text-decoration: none;
}

.btn {
  color: black !important;
  background-color: rgb(209, 80, 80) !important;
  border: none !important;
}

.deleteBtn {
  color: white !important;
  background-color: rgb(50, 48, 48) !important;
}

/* Show */
.show-card {
  margin-bottom: 0rem !important;
}

.show-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.show-buttons a {
  width: 5rem;
}

.show-image {
  height: 40vh;
}

.show-page {
  width: 30rem !important;
  margin-left: auto;
  margin-right: auto;
}

/* Reviews */

.reviews {
  width: 45rem !important;
  margin-left: auto;
  margin-right: auto;
}

.review {
  padding: 0 !important;
}

/* Map */
.map-container {
  position: relative;
  z-index: 1;
  width: 60% !important;
  height: 70vh !important;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 85%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) and (max-width: 992px) {
  .map-container {
    width: 80% !important;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .map-container {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .map-container {
    width: 100% !important;
  }
}

/* Login Signup flash */
.welcome {
  display: none;
}

@media (max-width: 660px) {
  .login {
    width: 100% !important;
  }
  .login_h1 {
    width: 100% !important;
    margin: 0 !important;
  }
  .login_form {
    width: 100% !important;
    margin: 0 !important;
  }
  .signup {
    width: 100% !important;
  }
  .signup_h1 {
    width: 100% !important;
    margin: 0 !important;
  }
  .signup_form {
    width: 100% !important;
    margin: 0 !important;
  }
  .flash {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

/* new */
@media (max-width: 500px) {
  .new_row {
    width: 100% !important;
  }
  .new_col {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
